/** BASE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #212529;
  --color-lightgray: #f8f9fa;
  --color-default: #6c7589;
  --color-primary: #fed136;
  --color-primary-transparent: rgba(254, 209, 54, .5);
  --color-primary-dark: #fec810;
  --system-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

::selection {
  background-color: var(--color-primary);
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--color-default);
  font: 1.6rem/1.7 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
  line-height: 1.2;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** LAYOUT */

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1.5rem, 1fr)
    [main-start] minmax(0, 111rem)
    [main-end] minmax(1.5rem, 1fr)
    [full-end];
}

.container > * {
  grid-column: main;
}

/**
 * A flexible list that can wrap content if the viewport is too narrow.
 *
 * 1. Horizontal gap between wrapped flex items. When set, adds an equivalent
 * negative bottom margin to the list itself to cancel the last item's bottom
 * margin.
 */

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 calc(-1 * var(--flex-list-vertical-gap)); /* 1 */
  padding: 0;
}

/**
 * A flexible list item.
 *
 * 1. Maximum item width. Item doesn't grow, but shrinks when necessary (default
 * behavior).
 * 2. Styles for .title elements in an item.
 * 3. Horizontal centering, especially for items that are wrapped to new lines.
 * 4. Vertical gap between flex items.
 */

.flex-list-item {
  --title-size: 2.4rem; /* 2 */
  --title-transform: none; /* 2 */
  --subtitle-margin-bottom: 0;
  background: var(--flex-list-item-background, inherit);
  flex-basis: 35rem; /* 1 */
  margin: 0 auto var(--flex-list-vertical-gap); /* 3, 4 */
  text-align: center;
}

/** COMMON */

.title,
.subtitle {
  text-align: var(--title-align, center);
}

/**
 * A title can be a title of a section, or a title in a list item. Styles can be
 * set depending on context (e.g., item titles are smaller than section titles).
 */

.title {
  color: var(--title-color, var(--color-black));
  font-size: var(--title-size, 4rem);
  text-transform: var(--title-transform, uppercase);
  margin-bottom: var(--title-margin-bottom, 1.5rem);
}

/**
 * A section subtitle. Placed directly under a section title.
 */

.subtitle {
  font-family: 'Droid Serif', var(--system-font-stack);
  font-style: italic;
  margin-bottom: var(--subtitle-margin-bottom, 7.5rem);
}

/**
 * Icon in a circle. Applied directly on Font Awesome icons:
 *
 * <span class="service-icon fas fa-..."></span>
 *
 * 1. Center the icon within the circle.
 * 2. Some breathing space between the icon and the circle edge.
 */

.icon {
  align-items: center; /* 1 */
  display: flex; /* 1 */
  justify-content: center; /* 1 */
  padding: 2rem; /* 2 */
  height: var(--icon-size);
  width: var(--icon-size);
  background: var(--icon-color);
  border-radius: 50%;
  color: #fff;
  font-size: var(--icon-font-size);
  margin: 0 auto var(--icon-margin-bottom);
  transition: background ease-in-out .25s;
}

/**
 * Generic button widget.
 *
 * 1. I'd prefer not add alignment styles here, but since there are only two
 * buttons in the page (both of which are centered), I'll allow it.
 */

.btn {
  background: var(--color-primary);
  border-radius: .3rem;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block; /* 1 */
  font: 700 1.8rem/1 'Montserrat';
  margin: 0 auto; /* 1 */
  padding: 2.5rem 4rem;
  text-transform: uppercase;
  transition: all ease-in-out .2s;
  transition-property: background, box-shadow;
}

.btn:hover,
.btn:focus {
  background: var(--color-primary-dark);
}

.btn:focus {
  box-shadow: 0 0 0 .3rem var(--color-primary-transparent);
  outline: 0;
}

/**
 * Remove Firefox focus dots.
 */

.btn::-moz-focus-inner {
  border: none;
}

/** SERVICES */

.services {
  --icon-size: 12.5rem;
  --icon-font-size: 6.4rem;
  --icon-color: var(--color-primary);
  --icon-margin-bottom: 1.5rem;
  padding: 16rem 0;
}

/** PORTFOLIO */

.portfolio {
  --flex-list-vertical-gap: 3rem;
  --flex-list-item-background: #fff;
  background: var(--color-lightgray);
  padding: 16rem 0;
}

/**
 * A portflio item consists of a title, an image and a subtitle.
 *
 * 1. Allow reordering of image before title.
 */

.portfolio-item {
  --title-margin-bottom: 0;
  --subtitle-margin-bottom: 2.5rem;
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
}

.portfolio-image {
  display: block;
  height: auto;
  margin: 0 auto 2.5rem;
  max-width: 350px;
  width: 100%;
  order: -1; /* 1 */
}

/** ABOUT */

.about {
  padding: 16rem 0;
}

.timeline {
  --title-align: left;
  --title-color: var(--color-black);
  --title-size: 2.4rem;
  --title-transform: none;
  --borders-color: #e9ecef;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline::before {
  background: var(--borders-color);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin-left: 4.8rem;
  position: absolute;
  width: .2rem;
}

.timeline-item {
  --node-size: 8rem;
  margin-bottom: 5rem;
  padding-left: 10rem;
  position: relative;
}

.timeline-item::before {
  background: var(--background-fallback) center / cover var(--background);
  border-radius: 50%;
  border: .8rem solid var(--borders-color);
  content: '';
  display: block;
  height: var(--node-size);
  left: 0;
  margin-left: 1rem;
  position: absolute;
  width: var(--node-size);
}

.timeline-item:last-child::before {
  align-items: center;
  background: var(--color-primary);
  color: #fff;
  content: 'Be Part Of Our Story!';
  display: flex;
  font: 700 1rem/1.4 'Montserrat', sans-serif;
  text-align: center;
}

.timeline-item:first-child {
  --background: url('https://images.pexels.com/photos/618833/pexels-photo-618833.jpeg?auto=compress&cs=tinysrgb&fit=crop&crop=entropy&w=160&h=160');
  --background-fallback: #483c31;
}
.timeline-item:nth-child(2) {
  --background: url('https://images.pexels.com/photos/1098745/pexels-photo-1098745.jpeg?auto=compress&cs=tinysrgb&fit=crop&crop=entropy&w=160&h=160');
  --background-fallback: #78520f;
}
.timeline-item:nth-child(3) {
  --background: url('https://images.pexels.com/photos/257897/pexels-photo-257897.jpeg?auto=compress&cs=tinysrgb&fit=crop&crop=entropy&w=160&h=160');
  --background-fallback: #2c2c2c;
}
.timeline-item:nth-child(4) {
  --background: url('https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?auto=compress&cs=tinysrgb&fit=crop&crop=entropy&w=160&h=160');
  --background-fallback: #608091;
}

/** TEAM */

.team {
  background: var(--color-lightgray);
  padding: 16rem 0;
}

.team-members {
  margin-bottom: 3rem;
}

.team-member {
  --title-margin-bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team-member-portrait {
  border-radius: 50%;
  border: .75rem solid #fff;
  margin-bottom: 2rem;
  order: -1;
}

.team-bottom-prose {
  text-align: center;
  margin: 0 auto;
  max-width: 72rem;
}

/** CONTACT */

.contact {
  --title-color: #fff;
  background: var(--color-black);
  color: #fff;
  padding: 16rem 0;
}

.form-columns {
  --spacer: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacer));
}

.form-column {
  flex: 1 1 35rem;
  margin-left: var(--spacer);
  margin-bottom: var(--spacer);
}

.form-control {
  display: block;
  width: 100%;
  font: 1.6rem/1.4 'Roboto', sans-serif;
  padding: 2rem;
  border-radius: .3rem;
  border: .1rem solid var(--color-lightgray);
  background: #fff;
}

.form-control:focus {
  border-color: var(--color-primary);
}

.form-name,
.form-email {
  margin-bottom: var(--spacer);
}

.form-message {
  display: block;
  width: 100%;
  height: 100%;
  resize: vertical;
}

.form-submit {
  grid-column: submit;
}

/** SOCIAL MEDIA LINKS */

.social {
  --gap: 1.25rem;
  --icon-size: 5rem;
  --icon-font-size: 2rem;
  --icon-color: var(--color-black);
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-right: calc(-1 * var(--gap));
  padding: 0;
}

.social-item {
  margin-right: var(--gap);
}

.social a:hover,
.social a:focus {
  --icon-color: var(--color-primary);
}

.social a:hover {
  text-decoration: none;
}

.social a:focus {
  outline: 0;
}

/** FOOTER */

/**
 * The footer uses a stacking layout by default, and uses a horizontal flex
 * layout on larger viewports.
 */

.footer {
  --icon-margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  padding: 2.5rem 0;
  text-align: center;
}

.footer-links a:first-child {
  margin-right: 2rem;
}

/**
 * It's easier to use media queries to achieve the horizontal layout.
 * I don't know if there's an entirely flex-based solution to achieve the same
 * effect.
 */

@media screen and (min-width: 768px) {
  .footer {
    --icon-margin-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }
  
  .copyright {
    margin: 0;
  }
}