/** BASE STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-black: #212529;
  --color-lightgray: #f8f9fa;
  --color-default: #6c7589;
  --color-primary: #fed136;
  --color-primary-dark: #fec810;
  --system-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

::selection {
  background-color: var(--color-primary);
}

html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: var(--color-default);
  font: 1.6rem/1.7 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
  line-height: 1.2;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/** LAYOUT */

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1.5rem, 1fr)
    [main-start] minmax(0, 111rem)
    [main-end] minmax(1.5rem, 1fr)
    [full-end];
}

.container > * {
  grid-column: main;
}

/**
 * A flexible list that can wrap content if the viewport is too narrow.
 *
 * 1. Horizontal gap between wrapped flex items. When set, adds an equivalent
 * negative bottom margin to the list itself to cancel the last item's bottom
 * margin.
 */

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 calc(-1 * var(--flex-list-vertical-gap)); /* 1 */
  padding: 0;
}

/**
 * A flexible list item.
 *
 * 1. Maximum item width. Item doesn't grow, but shrinks when necessary (default
 * behavior).
 * 2. Styles for .title elements in an item.
 * 3. Horizontal centering, especially for items that are wrapped to new lines.
 * 4. Vertical gap between flex items.
 */

.flex-list-item {
  --title-size: 2.4rem; /* 2 */
  --title-transform: none; /* 2 */
  --subtitle-margin-bottom: 0;
  background: var(--flex-list-item-background, inherit);
  flex-basis: 35rem; /* 1 */
  margin: 0 auto var(--flex-list-vertical-gap); /* 3, 4 */
  text-align: center;
}

/** COMMON */

.title,
.subtitle {
  text-align: center;
}

/**
 * A title can be a title of a section, or a title in a list item. Styles can be
 * set depending on context (e.g., item titles are smaller than section titles).
 */

.title {
  color: var(--color-black);
  font-size: var(--title-size, 4rem);
  text-transform: var(--title-transform, uppercase);
  margin-bottom: var(--title-margin-bottom, 1.5rem);
}

/**
 * A section subtitle. Placed directly under a section title.
 */

.subtitle {
  font-family: 'Droid Serif', var(--system-font-stack);
  font-style: italic;
  margin-bottom: var(--subtitle-margin-bottom, 7.5rem);
}

/**
 * Icon in a circle. Applied directly on Font Awesome icons:
 *
 * <span class="service-icon fas fa-..."></span>
 *
 * 1. Center the icon within the circle.
 * 2. Some breathing space between the icon and the circle edge.
 */

.icon {
  align-items: center; /* 1 */
  display: flex; /* 1 */
  justify-content: center; /* 1 */
  padding: 2rem; /* 2 */
  height: var(--icon-size);
  width: var(--icon-size);
  background: var(--icon-color);
  border-radius: 50%;
  color: #fff;
  font-size: var(--icon-font-size);
  margin: 0 auto 1.5rem;
  transition: background ease-in-out .25s;
}

/** SERVICES */

.services {
  --icon-size: 12.5rem;
  --icon-font-size: 6.4rem;
  --icon-color: var(--color-primary);
  padding: 16rem 0;
}

/** PORTFOLIO */

.portfolio {
  --flex-list-vertical-gap: 3rem;
  --flex-list-item-background: #fff;
  background: var(--color-lightgray);
  padding: 16rem 0;
}

/**
 * A portflio item consists of a title, an image and a subtitle.
 *
 * 1. Allow reordering of image before title.
 */

.portfolio-item {
  --title-margin-bottom: 0;
  --subtitle-margin-bottom: 2.5rem;
  display: flex; /* 1 */
  flex-direction: column; /* 1 */
}

.portfolio-image {
  display: block;
  height: auto;
  margin: 0 auto 2.5rem;
  max-width: 350px;
  width: 100%;
  order: -1; /* 1 */
}

/** TEAM */

.team {
  background: var(--color-lightgray);
  padding: 16rem 0;
}

.team-members {
  margin-bottom: 3rem;
}

.team-member {
  --title-margin-bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.team-member-portrait {
  border-radius: 50%;
  border: .75rem solid #fff;
  margin-bottom: 2rem;
  order: -1;
}

.team-bottom-prose {
  text-align: center;
  margin: 0 auto;
  max-width: 72rem;
}

/** SOCIAL MEDIA LINKS */

.social {
  --gap: 1.25rem;
  --icon-size: 5rem;
  --icon-font-size: 2rem;
  --icon-color: var(--color-black);
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-right: calc(-1 * var(--gap));
  padding: 0;
}

.social-item {
  margin-right: var(--gap);
}

.social a:hover {
  --icon-color: var(--color-primary);
  text-decoration: none;
}
